html{
    font-family: "Comic Sans MS", "Arial";
}   

h1, h2 {
    font-family: "Papyrus";
    color: purple;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: grey;
}

li{
    display: inline-block;
}

li a{
    display: inline-block;
    color: black;
    padding: 16px;
}

ul a:hover{
    background-color: #AAA;
}

footer{
    background-color: #DDD;
    color: #555;
    text-align: center;
    padding: 16px;
}


